<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirection interne de /xxxx/ vers index.php/xxxx/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
